absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
async-timeout==4.0.3
attrs==24.2.0
cffi==1.17.1
filelock==3.16.1
frozenlist==1.4.1
fsspec==2024.9.0
grpcio==1.67.0
idna==3.10
Jinja2==3.1.4
lightning==2.4.0
lightning-utilities==0.11.8
Markdown==3.7
MarkupSafe==3.0.2
mpmath==1.3.0
multidict==6.1.0
networkx==3.4.1
numpy==1.26.4
packaging==24.1
pandas==2.2.3
propcache==0.2.0
protobuf==5.28.2
pycparser==2.22
python-dateutil==2.9.0.post0
pytorch-lightning==2.4.0
pytz==2024.2
PyYAML==6.0.2
scipy==1.14.1
six==1.16.0
soundfile==0.12.1
sympy==1.13.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
torch==2.9.0
torchaudio
torchmetrics==1.5.0
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.2
Werkzeug==3.0.4
yarl==1.15.5